<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Get lost in The Stones series today!</h2>
                <p>Book 1, Distanced, is available in a range of formats to suit your ereader device.</p>
                <div class="badges">
                    <a class="badge-link" href="#"><i class="fa-download"></i> Buy now on Smashwords</a>
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
