<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Distanced, Book 1 of The Stones series, by Emme Wilton</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Buy it now!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="/img/the-stones-book-01-distanced-cover.png" class="img-responsive" alt="Cover for Distanced, Book 1 of The Stones series, by Emme Wilton">
            </div>
        </div>
    </div>
</header>
